.imagem{
    background: url("dog.png") no-repeat ;
    width: 200px;
    height: 300px;
    display: block;
    background-size: contain;
}

.imagem:hover{
    background-position: 0px 50px
}

.imagem:active{
    background-position: 50px 50px;
}